<div class="title">
  <h1>piedra, papel o tijera!!</h1>
</div>

<div class="score-board">
  <div class id="user-label" class="badge">Usuario</div>
  <div class id="comp-label" class="badge">computadora</div>
  <span id="user-score">{{ puntosUsuario }}</span> :
  <span id="comp-score">{{ puntosComputadora }}</span>
</div>

<p class="info-game">{{ resultado }}</p>

<div class="opciones">
  <div class="opcion">
    <img src="https://tinyurl.com/m9mtnm7x" alt="" />
  </div>

  <div class="opcion">
    <img src="https://tinyurl.com/2deh3j7h" alt="" />
  </div>

  <div class="opcion">
    <img src="https://tinyurl.com/3wby7kss" alt="" />
  </div>
</div>

<p class="info-games">selecciona tu jugador</p>
